.title {
    width: 100%;
    height: 0.3667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 0.0042rem solid #ebebeb;
    background-color: #fff;
    color: #232323;
    line-height: 0.3667rem;
}

.title i {
    display: inline-block;
}

.title .title_content {
    display: inline-block;
    text-align: center;
    font-size: 0.15rem;
}

.title .title_expand {
    display: inline-block;
}

.login_pic {
    width: 2.9167rem;
    height: 0.4208rem;
    padding-left: 0.175rem;
    box-sizing: border-box;
}

.login_pic img {
    width: 1.3333rem;
    height: 0.4167rem;
    display: block;
    margin: 0.4333rem 0.6917rem 0.2833rem;
}