@w: 2.8833rem;
.home-box {
  width: 100%;
  background: linear-gradient(#ffffff, #f0f0f0);
  .home-header {
    width: @w;
    height: 0.25rem;
    padding: 0.0625rem 0.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
    box-shadow: 0 0 0.0417rem #eeeeee;
    > button {
      background: transparent;
      font-size: 0.125rem;
      > i {
        color: #ff6a41;
        font-size: 0.125rem;
      }
    }
    > p {
      box-sizing: border-box;
      width: 2.0042rem;
      height: 0.25rem;
      background: #f5f5f5;
      color: #bababa;
      font-size: 0.1rem;
      border: 1px solid #ebebeb;
      border-radius: 0.125rem;
      text-indent: 0.1rem;
      line-height: 0.25rem;
      > i {
        font-size: 0.125rem;
      }
    }
    > i {
      font-size: 0.175rem;
    }
  }
  /* 顶部轮播图 */
  .home-banner-t {
    width: @w;
    height: 1.1792rem;
    margin-top: 0.0958rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.0625rem;
    overflow: hidden;
    .home-banner-t-swiper {
      width: 100%;
      height: 100%;
      position: relative;
    }
    img {
      width: 100%;
    }
  }
  /* 选项卡 */
  .home-tab {
    width: @w;
    height: 1.525rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    > div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > img {
        width: 0.3333rem;
      }
      > span {
        padding-top: 0.0833rem;
        font-size: 0.1rem;
      }
    }
  }
  /* 轮播图2 */
  .home-banner-w {
    width: @w;
    min-height: 0.3458rem;
    background: #fffcf5;
    margin: 0 auto;
    border: 1px solid #ead0b2;
    border-radius: 0.0625rem;
    overflow: hidden;
    > h1 {
      width: 100%;
      height: 0.3458rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > span {
        padding: 0 0.0833rem;
        color: #6e481e;
      }
    }
    .banner {
      width: 100%;
      height: 0.8833rem;
      .banner-w-box {
        height: 100%;
        .banner-con {
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 0.1208rem 0.1208rem;
          display: flex;
          .lf {
            height: 100%;
            width: 0.4625rem;
            border-radius: 0.0625rem;
            > img {
              width: 100%;
            }
          }
          .rg {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            > h1 {
              padding: 0.0208rem;
              margin-left: 0.125rem;
              font-size: 0.125rem;
            }
            > h2 {
              padding: 0.0208rem;
              margin-left: 0.125rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              > span {
                color: #979896;
                font-size: 0.1rem;
                > i {
                  color: #ff603a;
                  font-size: 0.1417rem;
                  padding-right: 0.0625rem;
                }
              }
              > button {
                padding: 0.0417rem 0.1208rem;
                border: 1px solid #ff5228;
                color: #ff5228;
                background: transparent;
                border-radius: 0.125rem;
                font-size: 0.1rem;
              }
            }
          }
        }
      }
    }
  }
  /* 广告 */
  .home-adv {
    width: @w;
    height: 0.8417rem;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
  /* 热门演出 */
  .home-hot {
    box-sizing: border-box;
    width: @w;
    padding-top: 0.1083rem;
    margin: 0 auto;

    > h1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.1625rem 0;
      font-size: 0.15rem;
      font-weight: 700;
      > span {
        font-size: 0.1042rem;
      }
    }
    /* 热门演出 */
    .home-slide {
      width: 100%;
      height: 1.5875rem;
      position: relative;
      ul {
        width: auto;
        height: 100%;
        overflow-x: auto;
        white-space: nowrap;
        > li {
          display: inline-block;
          height: 100%;
          width: 0.8333rem;
          margin-right: 0.0625rem;
          > img {
            border: 1px solid #eeeeee;
            box-sizing: border-box;
            border-radius: 0.0417rem;
            width: 100%;
            height: 1.1333rem;
          }
          h1 {
            height: 0.3333rem;
            white-space: normal;
            line-height: 0.1583rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
      // 谷歌浏览器 隐藏滚动条
      ul::-webkit-scrollbar {
        display: none;
      }
      // 火狐浏览器 隐藏滚动条 IE浏览器 隐藏滚动条
      ul {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;
      }
    }
    /* 巡回演出 */
    .home-tour-box {
      height: 1.3833rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f5f5f5;
      border-radius: 0.0833rem;
      .home-tour {
        width: 2.6708rem;
        height: 1.15rem;
        display: flex;
        overflow: hidden;
        .lf {
          width: 0.8458rem;
          height: 100%;
          > img {
            width: 100%;
            border-radius: 0.0666rem;
          }
        }
        .rg {
          box-sizing: border-box;
          padding-left: 0.0625rem;
          flex: 1;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          > h1 {
            padding-top: 0.0625rem;
            font-size: 0.0833rem;
          }
          > h2 {
            width: 1.7125rem;
            font-size: 0.1167rem;
            line-height: 0.15rem;
          }
          > h3 {
            width: 1.7125rem;
            color: #ff6039;
            font-size: 0.1167rem;
            > span {
              font-size: 0.0833rem;
              color: #949494;
            }
          }
          > h4 {
            height: 0.2333rem;
            width: 1.7125rem;
            border-top: 1px solid #e0e0e0;
            line-height: 0.2333rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            > i {
              color: #fc8163;
              padding-right: 0.0417rem;
            }
          }
        }
      }
    }
    /* 为你推荐 */
    .home-list {
      width: @w;
      display: flex;
      justify-content: space-between;
      > ul {
        min-height: 2.7792rem;
        width: 1.4125rem;
        > li {
          width: 100%;
          min-height: 2.7792rem;
          margin-bottom: 0.0625rem;
          background: white;
          border-radius: 0.0625rem;
          box-shadow: 0 0 0.0417rem #eeeeee;
          > img {
            width: 100%;
            height: 1.925rem;
          }
          > h1 {
            margin: 0.0667rem 0;
            padding: 0 0.0875rem;
            font-size: 0.1125rem;
            line-height: 0.1583rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            > span {
              color: white;
              font-size: 0.0667rem;
              border-radius: 0.0833rem;
              padding: 0.0208rem 0.0625rem;
              background: linear-gradient(to right, #ff8d2c, #ff5241);
            }
          }
          > h2 {
            padding: 0 0.0875rem;
            font-size: 0.0833rem;
          }
          > h3 {
            margin: 0.075rem 0;
            padding: 0 0.0875rem;
            font-size: 0.1375rem;
            color: #ff6642;
            > span {
              color: #9b9b9b;
              font-size: 0.0667rem;
              padding-left: 0.0417rem;
            }
          }
          > h4 {
            padding: 0 0.0875rem;
            display: flex;
            flex-wrap: wrap;
            > span {
              border-radius: 0.0833rem;
              margin-bottom: 0.0208rem;
              margin-left: 0.0417rem;
              background: #fff1f0;
              color: #ff603c;
              font-size: 0.0667rem;
              padding: 0.0417rem;
            }
          }
        }
      }
    }
  }
  /* 小广告 */
  .home-adlet {
    position: fixed;
    bottom: 0.7083rem;
    right: 0.1208rem;
    width: 0.5208rem;
    height: 0.35rem;

    z-index: 500;
    > img {
      width: 100%;
    }
  }
  /* 底部填充 */
  .home-footer {
    height: 0.6667rem;
    text-align: center;
    font-size: 0.0667rem;
    box-sizing: border-box;
    padding-top: 0.0833rem;
    color: #e0e0ee;
  }
}
