.details-box {
  width: 100%;
  padding-bottom: 0.4541rem;
  position: relative;
  background-color: #f5f5f5;
  // 顶部模糊层
  .header-backImg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.8125rem;
    overflow: hidden;
    filter: blur(15px);
    > img {
      width: 100%;
    }
  }
  /* 顶部 */
  .details-header {
    position: relative;
    width: auto;
    padding: 0 0.125rem;
    height: 1.8125rem;
    z-index: 6;
    display: flex;
    flex-direction: column;
    .header {
      width: 100%;
      height: 0.3625rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 0.15rem;
      > span {
        font-weight: 600;
      }
      > button {
        font-size: 0.25rem;
        margin-right: 0.25rem;
        background: transparent;
        color: white;
      }
      > div {
        button {
          font-size: 0.1667rem;
          padding: 0 0.0458rem;
          background: transparent;
          color: white;
        }
      }
    }
    .header-content {
      flex: 1;
      display: flex;
      align-items: center;
      .lf {
        height: 1.1958rem;
        width: 0.8708rem;
        overflow: hidden;
        border-radius: 0.0417rem;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .rg {
        height: 1.1958rem;
        box-sizing: border-box;
        padding-left: 0.125rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > h1,
        h2 {
          padding: 0.0833rem 0;
          color: white;
          font-size: 0.125rem;
          line-height: 0.1542rem;
        }
      }
    }
  }
  /* 购票信息 */
  .buy {
    filter: blur(0px);
    width: 100%;
    background-color: white;
    .ticket {
      width: auto;
      height: 0.3375rem;
      margin: 0 0.125rem;
      border-bottom: 1px solid #f7f7f7;
      display: flex;
      align-items: center;
      > span {
        font-size: 0.0917rem;
        color: #727285;
        > i {
          color: #ff6f5b;
          font-size: 0.0917rem;
          padding-right: 0.0417rem;
        }
      }
    }
    .time-site {
      height: 1.4333rem;
      width: auto;
      margin: 0 0.125rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .time {
        font-size: 0.125rem;
      }
      .site {
        font-size: 0.1333rem;
        position: relative;
        > h2 {
          padding: 0.0625rem 0;
          font-size: 0.1rem;
          color: #757879;
        }
        > span {
          position: absolute;
          right: 0;
          bottom: 0;
          display: block;
          width: 0.25rem;
          height: 0.25rem;
          background: #ededed;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          > i {
            color: #ff7764;
            font-size: 0.1375rem;
            font-weight: 600;
          }
        }
      }
      .banner {
        width: 100%;
        height: 0.3625rem;
        border-radius: 0.0625rem;
        background: linear-gradient(to right, #393937, #222220);
        color: #e9dba7;
        display: flex;
        justify-content: space-around;
        align-items: center;
        > mark {
          background-color: #f5dca3;
          font-size: 0.0417rem;
          border-radius: 0.0208rem;
          padding: 0.025rem 0.0417rem;
        }
        > p {
          font-size: 0.1125rem;
        }
        > span {
          font-size: 0.0833rem;
        }
      }
    }
  }
  /* 购票提示 */
  .butTitle {
    width: 100%;

    background: white;
    margin-top: 0.1042rem;
    > ul {
      height: 100%;
      width: 100%;
      > li {
        width: auto;
        margin: 0 0.125rem;
        min-height: 0.3875rem;
        border-bottom: 1px solid #f5f5f5;
        display: flex;
        align-items: center;
        font-size: 0.1083rem;
        > span {
          color: #a5a8a9;
          padding-right: 0.1458rem;
        }
        > h1 {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: #ff6f4d;
            padding: 0.0208rem;
            border: 1px solid #ff6f4d;
            border-radius: 0.0375rem;
            margin-right: 0.0625rem;
            font-size: 0.0667rem;
          }
        }
        > h2 {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: #ff6f4d;
            margin-left: 0.0625rem;
          }
        }
        > h3 {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          line-height: 0.1667rem;
        }
      }
    }
  }
  /* 演出介绍 */
  .presentation {
    margin-top: 0.1rem;
    width: 100%;
    background: white;
    overflow: hidden;
    position: relative;
    > h1 {
      padding: 0.0833rem 0.125rem;
      font-size: 0.15rem;
      font-weight: 600;
    }
    > div {
      padding: 0 0.125rem;
      line-height: 0.1667rem;
      img {
        width: 100%;
      }
    }
    .show {
      box-sizing: border-box;
      width: 100%;
      height: 0.5rem;
      position: absolute;
      bottom: 0;
      text-align: center;
      line-height: 0.5rem;
      font-size: 0.1167rem;
      color: #ff6946;
      background: linear-gradient(rgba(255, 255, 255, 0.9), #ffffff);
      z-index: 99;
    }
  }
  /* 温馨提示 */
  .warm-title {
    width: 100%;
    height: 0.7458rem;
    margin-top: 0.1rem;
    background: white;
    > h1 {
      padding: 0.1083rem 0.125rem;
      font-size: 0.15rem;
      font-weight: 600;
    }
    > ul {
      list-style-type: disc;
      list-style-position: inside;
      padding: 0 0.125rem;
      height: 0.2917rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  /* 相关推荐 */
  .details-type {
    margin-top: 0.125rem;
    width: 100%;
    background: white;
    > h1 {
      padding: 0.1042rem 0.125rem;
      font-size: 0.15rem;
      font-weight: 600;
    }
    .type {
      height: 1.1875rem;
      width: auto;
      padding: 0.0833rem 0.125rem;
      display: flex;
      .lf {
        height: 100%;
        width: 0.8667rem;
        border-radius: 0.0417rem;
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .rg {
        flex: 1;
        height: 100%;
        padding-left: 0.125rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        > h1 {
          font-size: 0.1rem;
        }
        > h2 {
          font-size: 0.1333rem;
          line-height: 0.1667rem;
        }
        > h3 {
          font-size: 0.0833rem;
          color: #656565;
        }
        > h4 {
          font-size: 0.0667rem;
          > span {
            background: #fef1ef;
            color: #fe704d;
            padding: 0.0208rem;
            border-radius: 0.0417rem;
            margin-right: 0.0625rem;
          }
        }
        > h5 {
          font-size: 0.125rem;
          color: #fe704d;
          > span {
            font-size: 0.0833rem;
            color: #656565;
          }
        }
      }
    }
  }
  .btn {
    background: white;
    width: auto;
    padding: 0.125rem 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    > button {
      padding: 0.0542rem 0.3333rem;
      border: 1px solid #ff6f5b;
      border-radius: 0.0333rem;
      background: transparent;
      color: #ff6f5b;
      font-size: 0.1375rem;
    }
  }
  /* 底部购买 */
  .buyFooter {
    width: 100%;
    height: 0.4541rem;
    border-top: 1px solid #eeeeee;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #fefefe;
    justify-content: space-around;
    align-items: center;
    > div {
      text-align: center;
      display: flex;
      flex-direction: column;
      line-height: 0.1583rem;
      font-size: 0.0917rem;
      color: #676767;
    }
    > button {
      width: 2.5917rem;
      height: 0.3333rem;
      font-size: 0.15rem;
      font-weight: 600;
      color: white;
      box-shadow: 0 0 0.0417rem #ff9c41;
      border-radius: 0.1667rem;
      background: linear-gradient(to right, #ff9c41, #ff4c44);
    }
  }
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
