.details-box {
  width: 100%;
  padding-bottom: 0.4541rem;
  position: relative;
  background-color: #f5f5f5;
  /* 顶部 */
  /* 购票信息 */
  /* 购票提示 */
  /* 演出介绍 */
  /* 温馨提示 */
  /* 相关推荐 */
  /* 底部购买 */
}
.details-box .header-backImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.8125rem;
  overflow: hidden;
  filter: blur(15px);
}
.details-box .header-backImg > img {
  width: 100%;
}
.details-box .details-header {
  position: relative;
  width: auto;
  padding: 0 0.125rem;
  height: 1.8125rem;
  z-index: 6;
  display: flex;
  flex-direction: column;
}
.details-box .details-header .header {
  width: 100%;
  height: 0.3625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.15rem;
}
.details-box .details-header .header > span {
  font-weight: 600;
}
.details-box .details-header .header > button {
  font-size: 0.25rem;
  margin-right: 0.25rem;
  background: transparent;
  color: white;
}
.details-box .details-header .header > div button {
  font-size: 0.1667rem;
  padding: 0 0.0458rem;
  background: transparent;
  color: white;
}
.details-box .details-header .header-content {
  flex: 1;
  display: flex;
  align-items: center;
}
.details-box .details-header .header-content .lf {
  height: 1.1958rem;
  width: 0.8708rem;
  overflow: hidden;
  border-radius: 0.0417rem;
}
.details-box .details-header .header-content .lf > img {
  width: 100%;
  height: 100%;
}
.details-box .details-header .header-content .rg {
  height: 1.1958rem;
  box-sizing: border-box;
  padding-left: 0.125rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-box .details-header .header-content .rg > h1,
.details-box .details-header .header-content .rg h2 {
  padding: 0.0833rem 0;
  color: white;
  font-size: 0.125rem;
  line-height: 0.1542rem;
}
.details-box .buy {
  filter: blur(0px);
  width: 100%;
  background-color: white;
}
.details-box .buy .ticket {
  width: auto;
  height: 0.3375rem;
  margin: 0 0.125rem;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
}
.details-box .buy .ticket > span {
  font-size: 0.0917rem;
  color: #727285;
}
.details-box .buy .ticket > span > i {
  color: #ff6f5b;
  font-size: 0.0917rem;
  padding-right: 0.0417rem;
}
.details-box .buy .time-site {
  height: 1.4333rem;
  width: auto;
  margin: 0 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.details-box .buy .time-site .time {
  font-size: 0.125rem;
}
.details-box .buy .time-site .site {
  font-size: 0.1333rem;
  position: relative;
}
.details-box .buy .time-site .site > h2 {
  padding: 0.0625rem 0;
  font-size: 0.1rem;
  color: #757879;
}
.details-box .buy .time-site .site > span {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background: #ededed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-box .buy .time-site .site > span > i {
  color: #ff7764;
  font-size: 0.1375rem;
  font-weight: 600;
}
.details-box .buy .time-site .banner {
  width: 100%;
  height: 0.3625rem;
  border-radius: 0.0625rem;
  background: linear-gradient(to right, #393937, #222220);
  color: #e9dba7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details-box .buy .time-site .banner > mark {
  background-color: #f5dca3;
  font-size: 0.0417rem;
  border-radius: 0.0208rem;
  padding: 0.025rem 0.0417rem;
}
.details-box .buy .time-site .banner > p {
  font-size: 0.1125rem;
}
.details-box .buy .time-site .banner > span {
  font-size: 0.0833rem;
}
.details-box .butTitle {
  width: 100%;
  background: white;
  margin-top: 0.1042rem;
}
.details-box .butTitle > ul {
  height: 100%;
  width: 100%;
}
.details-box .butTitle > ul > li {
  width: auto;
  margin: 0 0.125rem;
  min-height: 0.3875rem;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  font-size: 0.1083rem;
}
.details-box .butTitle > ul > li > span {
  color: #a5a8a9;
  padding-right: 0.1458rem;
}
.details-box .butTitle > ul > li > h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-box .butTitle > ul > li > h1 span {
  color: #ff6f4d;
  padding: 0.0208rem;
  border: 1px solid #ff6f4d;
  border-radius: 0.0375rem;
  margin-right: 0.0625rem;
  font-size: 0.0667rem;
}
.details-box .butTitle > ul > li > h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-box .butTitle > ul > li > h2 span {
  color: #ff6f4d;
  margin-left: 0.0625rem;
}
.details-box .butTitle > ul > li > h3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.1667rem;
}
.details-box .presentation {
  margin-top: 0.1rem;
  width: 100%;
  background: white;
  overflow: hidden;
  position: relative;
}
.details-box .presentation > h1 {
  padding: 0.0833rem 0.125rem;
  font-size: 0.15rem;
  font-weight: 600;
}
.details-box .presentation > div {
  padding: 0 0.125rem;
  line-height: 0.1667rem;
}
.details-box .presentation > div img {
  width: 100%;
}
.details-box .presentation .show {
  box-sizing: border-box;
  width: 100%;
  height: 0.5rem;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 0.5rem;
  font-size: 0.1167rem;
  color: #ff6946;
  background: linear-gradient(rgba(255, 255, 255, 0.9), #ffffff);
  z-index: 99;
}
.details-box .warm-title {
  width: 100%;
  height: 0.7458rem;
  margin-top: 0.1rem;
  background: white;
}
.details-box .warm-title > h1 {
  padding: 0.1083rem 0.125rem;
  font-size: 0.15rem;
  font-weight: 600;
}
.details-box .warm-title > ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0 0.125rem;
  height: 0.2917rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-box .details-type {
  margin-top: 0.125rem;
  width: 100%;
  background: white;
}
.details-box .details-type > h1 {
  padding: 0.1042rem 0.125rem;
  font-size: 0.15rem;
  font-weight: 600;
}
.details-box .details-type .type {
  height: 1.1875rem;
  width: auto;
  padding: 0.0833rem 0.125rem;
  display: flex;
}
.details-box .details-type .type .lf {
  height: 100%;
  width: 0.8667rem;
  border-radius: 0.0417rem;
  overflow: hidden;
}
.details-box .details-type .type .lf > img {
  width: 100%;
  height: 100%;
}
.details-box .details-type .type .rg {
  flex: 1;
  height: 100%;
  padding-left: 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.details-box .details-type .type .rg > h1 {
  font-size: 0.1rem;
}
.details-box .details-type .type .rg > h2 {
  font-size: 0.1333rem;
  line-height: 0.1667rem;
}
.details-box .details-type .type .rg > h3 {
  font-size: 0.0833rem;
  color: #656565;
}
.details-box .details-type .type .rg > h4 {
  font-size: 0.0667rem;
}
.details-box .details-type .type .rg > h4 > span {
  background: #fef1ef;
  color: #fe704d;
  padding: 0.0208rem;
  border-radius: 0.0417rem;
  margin-right: 0.0625rem;
}
.details-box .details-type .type .rg > h5 {
  font-size: 0.125rem;
  color: #fe704d;
}
.details-box .details-type .type .rg > h5 > span {
  font-size: 0.0833rem;
  color: #656565;
}
.details-box .btn {
  background: white;
  width: auto;
  padding: 0.125rem 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details-box .btn > button {
  padding: 0.0542rem 0.3333rem;
  border: 1px solid #ff6f5b;
  border-radius: 0.0333rem;
  background: transparent;
  color: #ff6f5b;
  font-size: 0.1375rem;
}
.details-box .buyFooter {
  width: 100%;
  height: 0.4541rem;
  border-top: 1px solid #eeeeee;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #fefefe;
  justify-content: space-around;
  align-items: center;
}
.details-box .buyFooter > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 0.1583rem;
  font-size: 0.0917rem;
  color: #676767;
}
.details-box .buyFooter > button {
  width: 2.5917rem;
  height: 0.3333rem;
  font-size: 0.15rem;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0.0417rem #ff9c41;
  border-radius: 0.1667rem;
  background: linear-gradient(to right, #ff9c41, #ff4c44);
}
.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
